<%= favicon_link_tag 'towing_country/favicon/favicon.png', type: 'image/png', rel: 'apple-touch-icon', sizes: '180x180' %>
<%= favicon_link_tag 'towing_country/favicon/favicon.png', type: 'image/png', rel: 'icon', sizes: '32x32' %>
