<meta charset="utf-8">

<title>
  <% if content_for?(:title) %>
    <%= yield :title %> - <%= yield :category_1 %> - <%= Rails.configuration.app %> v<%= Rails.configuration.version %>
  <% else %>
    <%= Rails.configuration.app %>
  <% end %>
</title>

<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= javascript_pack_tag 'application' %>

<meta name="description" content="Impel">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
<meta name="keywords" content="">
<meta name="author" content="hsoft">
<meta name="MobileOptimized" content="320">
<!-- base css -->
<%= stylesheet_link_tag 'application', media: 'all' %>
<%= stylesheet_link_tag 'towing_country/app.bundle', media: 'all' %>
<%= tag.meta name: "direct-upload-url", content: rails_direct_uploads_path %>
<!-- Place favicon.ico in the root directory -->
<%= render 'shared/favicon' %>