<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'shared/head' %>
    <%#  Optional: page related CSS  %>
    <%= yield :head_block %>
  </head>

  <body>
    <!------ Preloader Start ------>
    <!------ Preloader End ------>
    <!------ Header Start ------>
    <%= render 'shared/header' %>
    <!------ Header End ------>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
